main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 650px;
    height: 700px;
    background: #FFFFFF;
    box-shadow: 0 16px 32px rgba(35, 23, 5, 0.26);
    border-radius: 12px;
}

.colorSquare {
    height: 400px;
    width: 400px;
    background-color: rgb(0, 0, 0);
}
.checkBox{
    margin: 10px;
    height: 20px;
    width: 20px;
}
.configBlock{
    visibility: hidden;
}

.sliders {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 30px 0;
}

.sliders input {
    margin: 0 10px 0 30px;
}

.buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.buttons button {
    margin: 0 10px;
}
img {
    position: absolute;
    width: 100%;
}

.toggleState{
    visibility: visible;
}

